*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

/* Reueseable */

.flex{
    display: flex;
}

.flex-center{
    justify-content: center;
    align-items: center;
}
.flex-col{
    flex-direction: column;
}

/* Header / Banner */

.banner{
    width: 500px;
    justify-content: space-around;
}
.banner h1{
    font-size: 2.5rem;
}
.banner a{
    font-size: 1.2rem;
    align-self: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.banner a:hover{
    text-decoration: underline;
}

header{
    color: white;
    background-image: url(../images/andre-tan-THJJRUhNlEc-unsplash.jpg);
    background-blend-mode: darken;
    background-color: #000000af;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 25%;
}



/* Search bar */
#search{
    width: 462px;
    position: relative;
    top: -1rem;
}
#search input{
    padding: 0.5em;
    font-family: 'Inter', sans-serif;
}
#movieSearch{
    flex: 2 1 350px;
}
#search input[type=submit]{
    flex: 1 120px
}

/* Movie Results */

#results{
    width: 550px;
}

.movie-container{
    margin-top: 2.5em;
    border-bottom: 1px solid;
    padding-bottom: 1em;
    height: 335px;
}

.movie-poster{
    width: 30%;
}
.movie-poster img{
    width: 100%;
    height: 100%;
} 

.movie-poster img[src="./images/no-poster.jpg"]{
    object-fit: contain;
} 


.movie-information{
    row-gap: 0.4em;
    width: 55%;
    margin-left: 1.75em;
}
.movie-information .rating{
    margin-left: 1em;
    font-weight: 400;
}

.movie-information .movie-desc{
    line-height: 1.5em;
}

.movie-additional{
    align-items: center;
}

.movie-additional span{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-left: 0.5em;
}

.movie-additional .genre{
    margin-left: 3em;
    flex-basis: 200px;
}

.movie-additional .genre, .runtime{
    font-weight: 600;
}

.watchlist{
    cursor: pointer;
}
.watchlist:hover, .watchlist:focus, .watchlist:active{
    /* font-size: 1.1em; */
    font-weight: 600;
}

.watchlist p{
    margin-left: 0.5em;
}

.fa-heart{
    font-family: FontAwesome;
    color: red;
}

/* Placeholder and Error */
#results #placeholder{
    height: 50vh;
    justify-content: center;
    opacity: 0.1;

}

.placeholder i {
    font-family: FontAwesome;
    color: black;
    font-size: 10rem;
    align-self: center;
}

.placeholder p{
    font-weight: 900;
    font-size: 2rem;
}

@media only screen and (max-width: 768px) {
    header {
        height: 250px;
    }

    #results{
        width: 470px;
    }

    #search{
        width: 350px;
    }

    .movie-container{
        justify-content: space-evenly;
    }

    .movie-poster{
        width: 45%;
    }
    .movie-information{
        width: 50%;
    }
}

@media only screen and (min-width: 769px) {
    header {
        height: 300px;
    }

    .movie-poster{
        width: 45%;
    }
}

@media only screen and (min-width: 1000px) {
    header {
        height: 350px;
    }
    #results{
        width: 750px;
    }
}