*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

/* Reueseable */

.flex{
    display: flex;
}

.flex-center{
    justify-content: center;
    align-items: center;
}
.flex-col{
    flex-direction: column;
}

/* Header / Banner */

.banner{
    width: 500px;
}
.banner h1{
    font-size: 2.5rem;
}
.banner p{
    font-size: 1.2rem;
    align-self: center;
    margin-left: 9em;
}

header{
    background-color: darkgray;
    height: 200px;
}

/* Search bar */
#search{
    width: 462px;
    position: relative;
    top: -1rem;
}
#search input{
    padding: 0.5em;
    font-family: 'Inter', sans-serif;
}
#movieSearch{
    flex: 2 1 350px;
}
#search input[type=submit]{
    flex: 1 120px
}

/* Movie Results */

#results{
    width: 550px;
}

.movie-container{
    margin-top: 2.5em;
}

.movie-poster{
    min-height: 140px;
    min-width: 100px;
}

.movie-poster img{
    height: 100%;
    width: 100%;
}

.movie-information{
    row-gap: 0.4em;
    margin-left: 1.75em;
}
.movie-information .rating{
    margin-left: 1em;
    font-weight: 400;
}

.movie-information .movie-desc{
    line-height: 1.5em;
}

.movie-additional{
    align-items: center;
}

.movie-additional span{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-left: 0.5em;
}

.movie-additional .genre{
    margin-left: 3em;
    flex-basis: 200px;
}

.watchlist{
    cursor: pointer;
}
.watchlist:hover, .watchlist:focus, .watchlist:active{
    background-color: aqua;
}

.watchlist p{
    margin-left: 0.5em;
}

.fa-heart{
    font-family: FontAwesome;
    color: red;
}